.box{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}


.upper{
    height: 10%;
    width: 100%;
    background-color: #4F9656;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    display: flex;
    align-items: center;
    color: white;

    font-weight: bolder;

    text-indent: 8px;

}

.middle{
    height: 80%;
    width: 100%;
    background-color: #F3FEF7;
}

.lower{
    height: 10%;
    width: 100%;
    background-color: #92D388;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  

.main {
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 25px; /* you can adjust the gap to your preference */
  }
  
  .sub-container {
    
  }
  
  .headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #add-new-crop{
  background-color: #4F9656;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 13px;
  border-color: #4F9656;
  border-bottom-color:#4F9656 ;
}

/* #add-sign{
color: white;

} */