{% extends "base/homebase.html" %}
{% load static %}

{% block title %}AIMS | Forget-Password{% endblock %}
{% block content_css %}<link rel="stylesheet" href="css/password_reset_form.css" type="text/css" >{% endblock %}

{% block content %}
<div class="main">
    <div class="sub-main">
        <h4>Forgot Your Password?</h4>
        <form method="POST" class="form-signin">
            {% csrf_token %}
            <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send reset email</button>  
        </form>
        
    </div>
</div>
{%endblock%}
