{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>forget-password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_form.css' %}">
</head>
<body>
    

        <div class="main">
            <div class="sub-main">
                <h4>Forgot Your Password?</h4>
                <form method="POST" class="form-signin">
					{% csrf_token %}
					<input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
					<button class="btn btn-lg btn-primary btn-block" type="submit">Send reset email</button>  
				</form>
                {% comment %} <p id="text1">Enter your email below to receive your password reset instruction</p>
                <div class="input-button">
                    <input type="email" id="id_email" name="email" placeholder="Registered Email ID">
                </div> {% endcomment %}

                {% comment %} <div class="input-button">
                    <button type="submit">Send</button>
                </div> {% endcomment %}
                
            </div>
        </div>


</body>
</html>