
.main{
    width:1172;
    height: 647;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 0 auto; /* center the div horizontally */

}
.sub-main{
width: 450;
height: 48;
}

h4{
    text-align: center;
    font-size: 32;
    font-weight: bold;
}
p{
    text-align: center;
    font-size: 20;
    color: #A09A9A;


}
input{
    border-style: none;
    border-bottom:2px solid ;
    width: 450;
    height: 65;
    margin-top: 20;
    
}

input::placeholder {
    opacity: 0.5; /* set the opacity value between 0 and 1 */
    /* text-align: center; set the horizontal alignment */
    /* vertical-align: bottom; set the vertical alignment */
    /* vertical-align: bottom; */
}


.input-button{
    display: flex;
    justify-content: center;
}

button{
    margin-top: 60;
    width: 547;
    height: 65;
    background-color: #4F9656;
    color: white;
    font-size: 24;
    font-weight: bold;

}

