/* blogsection */
*{
  font-family: Poppins, sans-serif;
}
.blog-section {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 40px;
}

.blog-details {
  margin-bottom: 20px;
  width: 538px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.blog-details img {
  height: 439PX;
  width: 536px;
}

.blog-title {
  color: #000000;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 20px;
}

.blog-excerpt {
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 30px;
  padding: 20px;
}

.read-more {
  display: block;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  background-color: #43a54c;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.read-more:hover {
  background-color: #2f7d3c;
}


