.password-change {
    border: none;
    padding: 20px;
    margin: 0 auto;
    width: 40%;
    
  }
  
  .password-change h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
    
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #DBDBDB;
    
  }
  
  .form-group button[type="submit"] {
    padding: 10px 20px;
    background-color: #DBDBDB;
    color: #000000;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* .form-group button[type="submit"]:hover {
    background-color: #3e8e41;
  } */
  
  .form-group input[type="password"] {
    position: relative;
  }
  
  .form-group input[type="password"] ~ .password-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
  }
  
  .form-group input[type="password"]:focus ~ .password-toggle {
    color: #000;
  }
  
  .password-info {
    background-color: #F4F4F4;
  }

  