/* contactus */
.send-message {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .send-message h2 {
    margin-top: 40%;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
  }
  
  .send-message label {
    color: #000000;
    display: block;
    margin-bottom: 5px;
  }
  
  .send-message input[type="text"],
  .send-message input[type="email"],
  .send-message textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #DBDBDB;
  }
  
  .send-message button[type="submit"] {
    background-color: #DBDBDB;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    width: 40%;
    font-weight: bold;
  }
  
  /* contactus .sidebar */
  
  h4 {
    background-color:#43A54C;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px;
    font-size: 24px;
  }
  
  .contact-us {
    background-color: #43A54C;
    color: #FFFFFF;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
  }
  
  .contact-us ul {
    background-color: #43A54C;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-usul li {
    padding: 10px;
    border-bottom: 1px solid #FFFFFF;
    background-color: #43A54C
  }
  
  
  .contact-us ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    background-color: #43A54C;
    color: #FFFFFF;
    font-weight: bold;
  }
  
  .contact-us ul li a:hover {
    background-color: #ddd;
  }
  
  