.content-title-button {
  margin-right: 11px;
}

.content-title-button button {
  width: 120px;
  height: 35px;
  border:none;
  background-color:#4F9656;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-title-button button:active{
  transform: scale(0.95);
}

.crops-container {
  display: flex;
  flex-wrap: wrap;
}

.crop-card {
  padding: 10px;
  flex: calc(50% - 40px); /* 50% - (margins + paddings) */
}

.spacer {
  margin: 0 10px;
  padding: 0 10px;
  flex: calc(50% - 40px); /* 50% - (margins + paddings) */
}

.crop-card-header {
  background-color:#4F9656;
  height: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.crop-card-header > span {
  font-size: 17px;
  margin-left: 5px;
  color: white;
}

.crop-card-body {
  background-color:#F3FEF7;
  padding-left: 20px;
  font-weight: bold;
}

.crop-card-body-item {
  display: flex;
  align-items: flex-end;
  height: 30px;
  border-bottom: 1px solid gray;
  margin-bottom: 1px;
  padding-bottom: 2px;
}

.item-label > span {
  letter-spacing: 1px;
  font-size: 12px;
}
.item-value > span {
  letter-spacing: 1px;
  margin-left: 5px;
  font-size: 12px;
}

.crop-card-footer {
  background-color:#6bc674;
  height: 35px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}
.crop-card-footer:active{
  transform: scale(0.99);
}

.crop-card-footer > button {
  background: none;
  border: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
