*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: darkslategray;
}

body {
    background-color: rgb(254, 255, 255);
    overflow-x: hidden;
}

.header-div {
    display: flex;
    width: 100%;
    align-content: center;
    gap: 0 90px;
    box-shadow: 0 0 2px 3px rgb(179, 178, 178);
    height: 85px;
}
.header-div-content{
    display:flex;
    align-items: center;
    margin: auto;
}

.logo-container  img {
    width: 100px;
    height: 80px;
    cursor: pointer;
    object-fit: cover;
}

.nav-items-container {
    align-self: center;
    font-size: medium;
    margin: 0 40px 0 10px;
}

.nav-ul {
    display: flex;
    gap: 0 45px;
    align-items: center;
    margin-left: 300px;
}

.nav-ul  li {
    list-style: none;
    font-weight: 600;
}
.nav-ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-ul li a:active {
    transform: scale(0.97);
}
.dropdown-item {
    position: relative;
    display: inline-block;
}
.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    width: 110px;
    background-color: #4F9656 !important;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown-options.show {
    display: block;
}
.dropdown-options a {
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 3px 0 3px 0;
}
.dropdown-options a:hover {
    background-color: #10571B;
}


.expand-more {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.cart-search-container {
    display: flex;
    justify-content: center;
    margin-left: 120px;
}

.cart-search-container  img {
    margin: 4px 2px 0 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

/* container */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 10px;
}

/* footer stats here */
.footer-link-items {
    height: 250px;
    background-color: rgb(29, 28, 28);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin: 30px 0 0 0;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 200px;
    background-color: inherit;
}

.footer-col-title > h4 {
    color: white;
    background-color:  rgb(29, 28, 28);
    text-transform: uppercase;
}

.footer-col-content {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-col-content > p {
    background-color: inherit;
    color: white;
}
.footer-col-content > a {
    text-decoration: none;
    background-color: inherit;
}
.footer-link {
    background-color: inherit;
    display: flex;
    gap: 3px;
    align-items: center;
    color: white;
}
.footer-link > span {
    color: white;
    background-color: rgb(29, 28, 28);
}

.copyright {
    height: 50px;
    background-color: rgb(29, 28, 28);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
}
