* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 30px 0 30px;
}
.form-name > span {
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
}
.page-counter {
    color: rgb(92, 92, 92);
}

.title {
    background-color:  #4F9656;
    height: 50px;
    display: flex;
    align-items: center;
}
.form-section {
    margin-left: 50px;
}
.form-section > span {
    color: white;
    letter-spacing: 1px;
}

/* Hide all steps by default: */
.step {
    display: none;
}
.step.active {
    display: block;
}

.form-container {
    border: 1px solid black;
    margin: 15px;
    padding: 15px;
}

.form-body {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.section-title {
    margin: 5px 0 20px 0
}
.section-title > span {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.label {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.form-row-main {
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-field input {
    height: 40px;
    width: 400px;
    background-color: rgb(229, 253, 245);
    border: 1px solid gray;
    padding: 10px;
}
.form-field input:focus {
    border: 2px solid gray;
}
.form-field input[type="radio"] {
    height: auto;
    width: auto;
}

.next-prev-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.single {
    justify-content: flex-end;
}

.next-btn {
    border: none;
    background-color: #4F9656;
    height: 40px;
    width: 150px;
    border-radius: 7px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.next-btn:active {
    transform: scale(0.96);
}
