*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body{
    max-width: 1440px;
}
.navigator{
    margin: 20px  0  20px 60px; 
    font-size: 16px;
}
.page-title{
    margin: 0 0 0 60px;
    font-size: 24px;
    font-weight: 600;
    color: #4F9656;
}
section {
    margin: 30px 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.containers{
    max-width: 425px;
    height: auto;
    margin-bottom:45px ;
}
.image-containers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.inner-containers > image{
    max-width: 425px;
    height: 310px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    padding: 20px;
    margin: 20px 0;
}
.image img{
    width: 425px;
    height: 310px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    object-fit: cover;
}
.image{
    position: relative;
}
.identifier{
    position: absolute;
    top: 12px;
    left: 6px;
    padding: 7px 18px;
    background-color: #F1F1F1;
    border-radius: 20px;
    color: #43A54C;
    border: 1px solid #43A54C;
}
.identifier p{
    color: #43A54C;
}
.details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.details-title{
    font-size: 18px;
    font-weight: 600;
    color: #4F9656;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.details-price{
    font-size: 18px;
}
.right-details{
    display: flex;
    align-items: flex-end;
}
.btn{
    height: 37px;
    background-color: #266B50;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    padding: 10px 12.5px;
    border: none;
    cursor: pointer;
}