*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(254, 255, 255);
    color:rgb(29, 25, 25);
}

.registration {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(173, 176, 175, 0.2);
}
.registration-box {
    margin: 10px;
    min-height: 90%;
    width: 40%;
    border: 2px solid rgba(12, 95, 55, 0.2);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-box span{
    background-color: rgb(22, 146, 22);
    color:white;
    font-family: sans-serif;
}
.registration-text{
    width:100%;
    text-align: center;
    line-height: 50px;
    background:rgb(22, 146, 22);
    font-weight:500;
    font-size: 25px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

form {
    margin: 15px;
}

.form-group {
    margin-bottom: 10px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(173, 176, 175, 0.2);
    border-radius: 4px;
    height: 30px;
}
.form-group .error {
    color: red;
    font-size: 12px;
}
form{
    width:65%;
}
form label{
    font-size: 13px;
    font-weight: bold;
}
form input{
    width:100%;
    padding:5px;
    border: 1px solid gray;
    border-radius: 5px;
    outline:none;
}
form .field input[type="submit"]{
    width: 120px;
    height: 35px;
    margin-top: 5px;
    margin-bottom:5px;
    border:none;
    background-color:rgb(22, 146, 22);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
form .field{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form .field:active{
    transform: scale(0.96);
}

.required::after {
    content: " *";
    color: red;
}

#id_gender {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#id_gender > div {
    width: 33%;
    margin-left: 20px;
}
#id_gender > div > label {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    margin-left: 30px;
}
#id_gender > div > label > input {
    position: absolute;
    right: 40px;
    height: auto;
}

.error > ul > li {
    list-style: none;
    color: red;
    font-size: smaller;
    margin-top: 1px;
    margin-left: 2px;
}