/* Content */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/*First Content Styles*/
.first-content {
    display: flex;
    gap: 40px;
}

.first-content-img {
    padding: 20px;
    height: fit-content;
    margin-left: 60px;
}
.first-content-img > img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.first-content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 5px;
    margin-right: 60px;
}

.leaf-img {
    margin-left: 40px;
}
.leaf-img > img {
    height: 114px;
    width: 130px;
}

.first-header > h3 {
    font-size: 32px;
    letter-spacing: 2px;
    color: black;
    font-weight: bold;
}

.second-header > h4 {
    font-size: 28px;
    letter-spacing: 5px;
    color: black;
    font-weight: bold;
}

.text-detail {
    /* margin: 10px 0 10px 0; */
    width: 500px;
}
.text-detail > p {
    letter-spacing: 3px;
    font-size: 18px;
    color: black;
    text-align: justify;
    margin: 5px 0 5px 0;
}

.first-content-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.shop-now-btn > button {
    border: none;
    width: 170px;
    height: 48px;
    background-color: #266B50;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
}
.shop-now-btn > button:active {
    transform: scale(0.97);
}
.shop-now-btn > button > span {
    color: inherit;
}

.register-here-btn > button {
    border: none;
    width: 180px;
    height: 48px;
    background-color: #266B50;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
}
.register-here-btn > button:active {
    transform: scale(0.97);
}
.register-here-btn > button > span {
    color: inherit;
}

/*Second Content Styles*/
.second-content {
    margin-bottom: 10px;
    position: relative;
    height: 650px;
}

.second-content-text {
    height: 450px;
    width: 700px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-left: 80px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 7px solid #266B50;
    box-shadow: 0 6px 10px -6px #222;
}

.second-content-video {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-right: 60px;
    z-index: 1;
    height: 600px;
    width: 1100px;
}
.second-content-video > iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.second-content-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 10px 0 10px 0;
}
.second-content-title > h4 {
    color: black;
    letter-spacing: 2px;
    font-size: 24px;
}

.second-content-subject {
    margin: 5px 0 5px 0;
}
.second-content-subject > h3 {
    color: black;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bold;
}

.second-content-detail {
    margin: 5px 0 5px 0;
    margin-bottom: 30px;
    width: 500px;
}
.second-content-detail > p {
    text-align: center;
    color: black;
    font-size: 13px;
    letter-spacing: 2px;
}

.learn-more-btn > button {
    border: none;
    width: 160px;
    height: 48px;
    background-color: #266B50;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
}
.learn-more-btn > button:active {
    transform: scale(0.97);
}
.learn-more-btn > button > span {
    color: inherit;
}

/*Third Content Styles*/
.third-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin: 20px 0 20px 0;
}

.third-content-title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
}
.third-content-title > h4 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: lighter;
}

.third-content-subject {
    margin: 5px 0 5px 0;
}
.third-content-subject > h3 {
    color: black;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.third-content-detail {
    margin: 5px 0 5px 0;
    width: 600px;
    text-align: justify;
}

.third-content-button {
    align-self: flex-end;
    margin-bottom: 27px;
}
.view-product-btn > button {
    border: none;
    width: 190px;
    height: 55px;
    background-color: #266B50;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
}
.view-product-btn > button:active {
    transform: scale(0.97);
}
.view-product-btn > button > span {
    color: inherit;
}

/*Fourth Content Styles*/
.fourth-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin: 20px 0 20px 0;
}

.fourth-content-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 175px;
}

.fourth-content-card {
    margin: 10px 0 10px 0;
    padding: 30px;
    width: 375px;
    border-right: 7px solid #266B50;
    border-bottom: 5px solid #266B50;
}
.card-title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
    padding: 5px;
}
.card-title > h4 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: bold;
}

.card-detail {
    width: 300px;
    text-align: justify;
    margin: 10px 0 20px 0;
}
.card-detail > p {
    font-size: 12px;
    letter-spacing: 1px;
}

.card-btn > button {
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.card-btn > button:active {
    transform: scale(0.99);
}

.fourth-content-images {
    display: flex;
    position: relative;
}
.fourth-image-top {
    position: relative;
    right: 100px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 2;
}
.fourth-image-bottom {
    position: relative;
    left: 150px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 1;
}

/*Fifth Content Styles*/
.fifth-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 10px;
}

.fifth-first-col {
    width: 450px;
    margin-left: 70px;
}
.fifth-title {
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 10px;
}
.fifth-title > h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 14px;
    color: black;
}
.fifth-first-col-article-text {
    margin: 10px 0 10px 0;
}
.fifth-first-col-article-text > h3 {
    color: black;
    letter-spacing: 2px;
    margin: 5px 0 5px 0;

}
.fifth-first-col-article-text > p {
    padding: 5px;
    text-align: justify;
    font-size: 15px;
    width: 450px;
    color: black;
}

.article-title {
    margin: 10px;
}
.article-title > h3 {
    color: black;
    margin: 5px 0 5px 0;
    letter-spacing: 1px;
    font-size: 17px;
}

.article-img {
    width: 450px;
}
.article-img > img {
    width: 100%;
}

.article-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article-type {
    display: flex;
    align-items: center;
    gap: 5px;
}
.article-type > p {
    font-size: 12px;
    letter-spacing: 1px;
}
.article-date {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-right: 85px;
}
.article-date.right {
    margin-right: 20px;
}
.article-date > p {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: lighter;
    color: black;
}

.fifth-second-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
    width: 600px;
}
.learn-more-btn > button {
    border: none;
    width: 210px;
    height: 55px;
    background-color: #266B50;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 360px;
}
.learn-more-btn > button:active {
    transform: scale(0.97);
}
.learn-more-btn > button > span {
    color: inherit;
}

.second-col-articles {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
}

.second-col-article-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.second-col-article-title {
    margin: 10px 0 10px 0;
}
.second-col-article-title > p {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}
.second-col-article-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
