<html lang="en">
<head>
    <title>Crop details on farmer click</title>
<link rel="stylesheet" href="../static/css/add-crop.css">
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->

</head>
<body>




<div class="headline">
        <h2 class="">Crops Details</h2>

        <button id="add-new-crop"><span id="add-sign"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="#000" stroke-width="2" d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M12,18 L12,6 M6,12 L18,12"></path></svg></span> Add New Crop</button>


</div>

<br>

<div class="main">


    <div class="sub-container">
        <div class="box">

            <div class="upper">1</div>
            <div class="middle">
    
                <p>Crop:</p>
                <hr class="line">
                <p>Season:</p>
                <hr class="line">
                <p>Disease:</p>
                <hr class="line">
                <p>Pest:</p>
                <hr class="line">
                <p>Market Information:</p>
                <hr class="line">
                <p>Details</p>
                <hr class="line">
                <br>
                <hr class="line">
                <br>
                <br>
                <br>
                <br>
                
                
    
            </div>
            <div class="lower">
                <a href="#" class="link">Show More</a>
            </div>
    
        </div>
    </div>



    <div class="sub-container">
        <div class="box">

            <div class="upper">2</div>
            <div class="middle">
    
                <p>Crop:</p>
                <hr class="line">
                <p>Season:</p>
                <hr class="line">
                <p>Disease:</p>
                <hr class="line">
                <p>Pest:</p>
                <hr class="line">
                <p>Market Information:</p>
                <hr class="line">
                <p>Details</p>
                <hr class="line">
                <br>
                <hr class="line">
                <br>
                <br>
                <br>
                <br>
    
            </div>
            <div class="lower">
                <a href="#" class="link">Show More</a>
            </div>
    
        </div>
    </div>
    
    
    
    <div class="sub-container">
        <div class="box">

            <div class="upper">3</div>
            <div class="middle">
    
                <p>Crop:</p>
                <hr class="line">
                <p>Season:</p>
                <hr class="line">
                <p>Disease:</p>
                <hr class="line">
                <p>Pest:</p>
                <hr class="line">
                <p>Market Information:</p>
                <hr class="line">
                <p>Details</p>
                <hr class="line">
                <br>
                <hr class="line">
                <br>
                <br>
                <br>
                <br>
    
            </div>
            <div class="lower">
                <a href="#" class="link">Show More</a>
            </div>
    
        </div>
    </div>
    
    
    
    <div class="sub-container">
        <div class="box">

            <div class="upper">4</div>
            <div class="middle">
    
                <p>Crop:</p>
                <hr class="line">
                <p>Season:</p>
                <hr class="line">
                <p>Disease:</p>
                <hr class="line">
                <p>Pest:</p>
                <hr class="line">
                <p>Market Information:</p>
                <hr class="line">
                <p>Details</p>
                <hr class="line">
                <br>
                <hr class="line">
                <br>
                <br>
                <br>
                <br>
    
            </div>
            <div class="lower">
                <a href="#" class="link">Show More</a>
            </div>
    
        </div>
    </div>
    
    
    
    <div class="sub-container">
        <div class="box">

            <div class="upper">5</div>
            <div class="middle">
    
                <p>Crop:</p>
                <hr class="line">
                <p>Season:</p>
                <hr class="line">
                <p>Disease:</p>
                <hr class="line">
                <p>Pest:</p>
                <hr class="line">
                <p>Market Information:</p>
                <hr class="line">
                <p>Details</p>
                <hr class="line">
                <br>
                <hr class="line">
                <br>
                <br>
                <br>
                <br>
    
            </div>
            <div class="lower">
                <a href="#" class="link">Show More</a>
            </div>
    
        </div>
    </div>
    
    
    
    <div class="sub-container">
        <div class="box">

            <div class="upper">6</div>
            <div class="middle">
    
                <p>Crop:</p>
                <hr class="line">
                <p>Season:</p>
                <hr class="line">
                <p>Disease:</p>
                <hr class="line">
                <p>Pest:</p>
                <hr class="line">
                <p>Market Information:</p>
                <hr class="line">
                <p>Details</p>
                <hr class="line">
                <br>
                <hr class="line">
                <br>
                <br>
                <br>
                <br>
    
            </div>
            <div class="lower">
                <a href="#" class="link">Show More</a>
            </div>
    
        </div>
    </div>
    
    
    
    <div class="sub-container">
        <div class="box">

            <div class="upper">7</div>
            <div class="middle">
    
                <p>Crop:</p>
                <hr class="line">
                <p>Season:</p>
                <hr class="line">
                <p>Disease:</p>
                <hr class="line">
                <p>Pest:</p>
                <hr class="line">
                <p>Market Information:</p>
                <hr class="line">
                <p>Details</p>
                <hr class="line">
                <br>
                <hr class="line">
                <br>
                <br>
                <br>
                <br>
    
            </div>
            <div class="lower">
                <a href="#" class="link">Show More</a>
            </div>
    
        </div>
    </div>
    
    

    <div class="sub-container">
        <div class="box">

            <div class="upper">8</div>
            <div class="middle">
    
                <p>Crop:</p>
                <hr class="line">
                <p>Season:</p>
                <hr class="line">
                <p>Disease:</p>
                <hr class="line">
                <p>Pest:</p>
                <hr class="line">
                <p>Market Information:</p>
                <hr class="line">
                <p>Details</p>
                <hr class="line">
                <br>
                <hr class="line">
                <br>
                <br>
                <br>
                <br>
    
            </div>
            <div class="lower">
                <a href="#" class="link">Show More</a>
            </div>
    
        </div>
    </div>





</div>

</body>
</html>