<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin section</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body>
    




    <div class="main">



        <div class="headline">
            <h2 class="">Dashboard</h2>
        </div>

        

        <div class="sub-container">


            <div class="box">
    
                <div class="upper">Farmers</div>
                <div class="middle">
                    <div class="content">
                        <img src="images.png" alt="Description of image" width="64" height="64" class="images">
                    </div>
                    <div class="content">
                        <p class="no">20</p>
                    </div>    
                    
                    
        
                </div>
            </div>




            <div class="box">
        
                    <div class="upper">Farmers</div>
                    <div class="middle">
                        <div class="content">
                            <img src="images.png" alt="Description of image" width="64" height="64" class="images">
                        </div>
                        <div class="content">
                            <p class="no">20</p>
                        </div>    
                        
                        
            
                    </div>
            </div>




            <div class="box">
            
                        <div class="upper">Farmers</div>
                        <div class="middle">
                            <div class="content">
                                <img src="images.png" alt="Description of image" width="64" height="64" class="images">
                            </div>
                            <div class="content">
                                <p class="no">20</p>
                            </div>    
                            
                            
 
            </div>

        </div>
    </div>




</body>
</html>
