{% extends "base.html" %}

{% block title %}Add Equipment Details{% endblock %}
{% block content_css %}<link rel="stylesheet" href="static/css/article.css" type="text/css">{% endblock %}

{% block content %}
<div class="content">
    <div class="main-content">
        <div class="content-title">
            <span>Article Details</span>
        </div>
        <div class="content-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-field">
                    <span class="form-label required" >Title</span>
                    <input type="text" name="ArticleName" placeholder="Enter article name" />
                </div>
                <div class="form-field">
                    <span class="form-label" >Photo</span>
                    <div class="img-upload">
                        <input type="file" name="Article_Photo" class="custom-img-upload" accept="image/png, image/jpeg" multiple/>
                    </div>
                </div>
                <div class="form-field" id="textarea">
                    <span class="form-label required" >Description</span>
                    <textarea  placeholder="50-150 words" name="Description" rows="4" cols="50"></textarea>
                </div>
                <div class="form-field submit-btn">
                    <span class="form-label" ></span>
                    <input type="submit" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
