{% extends "base/homebase.html" %}

{% block title %}AIMS | BLOG{% endblock %}
{% block content_css %}<link rel="stylesheet" href="static/css/blog.css" type="text/css" >{% endblock %}

{% block content %}
{% for article in articles %}
<span>{{ forloop.counter }}</span>
        <section class="blog-section">
            <div class="blog-details">
                <img  src="{{ article.Article_Photo.url }}" alt="Blog Image">
                <h2 class="blog-title">{{ aricle.ArticleName }}</h2>
                <p class="blog-excerpt">{{ article.Description }}</p>
                {% comment %} <p>Posted By:</p>
                <p>{{ article.user.first_name }} {{ article.user.last_name }}</p> {% endcomment %}
                <a href="{% url 'blog_read_more'%}" class="read-more">Read More <i class="fa fa-arrow-right"></i></a>
              </div>
              </section> 
              {% endfor %}
          
          
{% endblock %}