{% extends "base.html" %}

{% block title %}Article Added{% endblock %}
{% block content_css %}<link rel="stylesheet" href="static/css/success.css" type="text/css">{% endblock %}
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@200" rel="stylesheet" />


{% block content %}

  <div class="success-box">
    <div class="article-box">
      <div class="tick-container">
          <span class="tick-mark">&#10003;</span>
        </div>
      <h2>Crops Added</h2>
      <a href="crops" class="continue-btn">Continue</a>
    </div>
  </div>
{% endblock %}