{% extends "base.html" %}

{% block title %}Equipments{% endblock %}
{% block content_css %}<link rel="stylesheet" href="static/css/equipments.css" type="text/css" >{% endblock %}
{% block pre_script %}
<script>
    function goToAddNewEquipment() {
        document.location.href = "{% url 'add_equipment' %}"
    }
</script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="main-content">
        <div class="content-title">
            <span>Equipments Details</span>
            <div class="content-title-button">
                <button onclick="goToAddNewEquipment()">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                    Add New Equipment
                </button>
            </div>
        </div>
        <div class="content-body">
            <div class="equipments-container">
                {% for equipment in equip %}
                <div class="equipment-card">
                    <div class="equipment-card-header">
                        <span>{{ forloop.counter }}</span>
                    </div>
                    <div class="equipment-card-body">
                        <div class="equipment-card-body-item">
                            <div class="bot item-label">
                                <span>Equipment Name: </span>
                            </div>
                            <div class="bot item-value">
                                <span>{{ equipment.EquipmentName }}</span>
                            </div>
                        </div>
                        <div class="equipment-card-body-item">
                            <div class="bot item-label">
                                <span>Manufactured Year: </span>
                            </div>
                            <div class="bot item-value">
                                <span>{{ equipment.ManufacturedYear }}</span>
                            </div>
                        </div>
                        <div class="equipment-card-body-item">
                            <div class="bot item-label">
                                <span>Market Value: </span>
                            </div>
                            <div class="bot item-value">
                                <span>{{ equipment.MarketValue }}</span>
                            </div>
                        </div>
                        <div class="equipment-card-body-item">
                            <div class="bot item-label">
                                <span>Condition : </span>
                            </div>
                            <div class="bot item-value">
                                <span>{{ equipment.Condition }}</span>
                            </div>
                        </div>
                        <div class="equipment-card-body-item">
                            <div class="bot item-label">
                                <span>Warranty: </span>
                            </div>
                            <div class="bot item-value">
                                <span>{{ equipment.Warrenty }}</span>
                            </div>
                        </div>
                        <div class="equipment-card-body-item">
                            <div class="bot item-label">
                                <span>Details: </span>
                            </div>
                            <div class="bot item-value">
                                <span>{{ equipment.Description }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="equipment-card-footer">
                        <button>
                            Show More
                        </button>
                    </div>
                </div>
                {% endfor %}
                <div class="spacer"></div>
                <div class="spacer"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
