<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopnow</title>
    <link rel="stylesheet" href="../static/css/Equipment-page.css">
</head>
<body>










    

    <div class="main">
        <div>
            <p class="home">Home/Shop</p>
            <h4 class="shop">Shop</h4>
        </div>
    
    
        <div class="sub-main">
            <div class="sub-container">
                <div class="image">
                    <img src="../assets/images/Rectangle 227.png" alt="item">
                </div>
    
                <div class="details">
                    <div class="fruit-details">
                        <p class="fruit-name">SHOVEL</p>
                        <p>Rs 1200.00</p>
                    </div>
                    <div class="view">
                        <button class="button">View Details</button>
                    </div>
                </div>
    
            </div>


            <div class="sub-container">
                <div class="image">
                    <img src="../assets/images/Rectangle 222.png" alt="item">
                </div>
    
                <div class="details">
                    <div class="fruit-details">
                        <p class="fruit-name">GLOVES GARDENING</p>
                        <p>Rs 1200.00</p>
                    </div>
                    <div class="view">
                        <button class="button">View Details</button>
                    </div>
                </div>
    
            </div>

            <div class="sub-container">
                <div class="image">
                    <img src="../assets/images/Rectangle 223.png" alt="item">
                </div>
    
                <div class="details">
                    <div class="fruit-details">
                        <p class="fruit-name">GLOVES</p>
                        <p>Rs 1200.00</p>
                    </div>
                    <div class="view">
                        <button class="button">View Details</button>
                    </div>
                </div>
    
            </div>
        </div>



        <div class="sub-main">
            <div class="sub-container">
                <div class="image">
                    <img src="../assets/images/Rectangle 223.png" alt="item">
                </div>
    
                <div class="details">
                    <div class="fruit-details">
                        <p class="fruit-name">ORGANIC FERTILIZER</p>
                        <p>Rs 1200.00</p>
                    </div>
                    <div class="view">
                        <button class="button">View Details</button>
                    </div>
                </div>
    
            </div>


            <div class="sub-container">
                <div class="image">
                    <img src="../assets/images/Rectangle 220.png" alt="item">
                </div>
    
                <div class="details">
                    <div class="fruit-details">
                        <p class="fruit-name" id="composited">COMPOSITED ORGANIC FERTILIZER</p>
                        <p>Rs 1200.00</p>
                    </div>
                    <div class="view">
                        <button class="button">View Details</button>
                    </div>
                </div>
    
            </div>

            <div class="sub-container">
                <div class="image">
                    <img src="../assets/images/Rectangle 223-2.png" alt="item">
                </div>
    
                <div class="details">
                    <div class="fruit-details">
                        <p class="fruit-name">HAND SICKLE</p>
                        <p>Rs 1200.00</p>
                    </div>
                    <div class="view">
                        <button class="button">View Details</button>
                    </div>
                </div>
    
            </div>
        </div>


        <div class="sub-main">
            <div class="sub-container">
                <div class="image">
                    <img src="../assets/images/Rectangle 227-1.png" alt="item">
                </div>
    
                <div class="details">
                    <div class="fruit-details">
                        <p class="fruit-name">SHOVEL AND SPADE</p>
                        <p>Rs 1200.00</p>
                    </div>
                    <div class="view">
                        <button class="button">View Details</button>
                    </div>
                </div>
    
            </div>


            <div class="sub-container">
                <div class="image">
                    <img src="../assets/images/Rectangle 222-1.png" alt="item">
                </div>
    
                <div class="details">
                    <div class="fruit-details">
                        <p class="fruit-name">AXE</p>
                        <p>Rs 1200.00</p>
                    </div>
                    <div class="view">
                        <button class="button">View Details</button>
                    </div>
                </div>
    
            </div>

            <div class="sub-container">
                <div class="image">
                    <img src="../assets/images/Rectangle 223-1.png" alt="item">
                </div>
    
                <div class="details">
                    <div class="fruit-details">
                        <p class="fruit-name">PICKAXE</p>
                        <p>Rs 1200.00</p>
                    </div>
                    <div class="view">
                        <button class="button">View Details</button>
                    </div>
                </div>
    
            </div>
        </div>


        <div class="sub-main">
            <div class="sub-container">
                <div class="image">
                    <img src="../assets/images/Rectangle 221-1.png" alt="item">
                </div>
    
                <div class="details">
                    <div class="fruit-details">
                        <p class="fruit-name">HOE</p>
                        <p>Rs 1200.00</p>
                    </div>
                    <div class="view">
                        <button class="button">View Details</button>
                    </div>
                </div>
    
            </div>


            <div class="sub-container">
                <div class="image">
                    <img src="../assets/images/Rectangle 220-1.png" alt="item">
                </div>
    
                <div class="details">
                    <div class="fruit-details">
                        <p class="fruit-name">HARROW</p>
                        <p>Rs 1200.00</p>
                    </div>
                    <div class="view">
                        <button class="button">View Details</button>
                    </div>
                </div>
    
            </div>


            <div class="sub-container">
                <div class="image">
                    <img src="../assets/images/Rectangle 223-3.png" alt="item">
                </div>
    
                <div class="details">
                    <div class="fruit-details">
                        <p class="fruit-name">POWER WEEDER</p>
                        <p>Rs 1200.00</p>
                    </div>
                    <div class="view">
                        <button class="button">View Details</button>
                    </div>
                </div>
    
            </div>
        </div>
    </div>













</body>
</html>