
{% extends "base/homebase.html" %}

{% block title %}AIMS | ITEM DETAILS EQUIPMENTS{% endblock %}
{% block content_css %}<link rel="stylesheet" href="static/css/product.css" type="text/css" >{% endblock %}

{% block content %}
<div class="shop-section">
  <div class="productheader">
      <div class="left-title">
          <h2>Shop</h2>
      </div>
      <div class="right-title">
          <p class="results">Showing all results</p>
      </div>
  </div>
  <div class="lower-content">
      <div class="shop-image">
          <img src="/static/assets/images/shovel.png" alt="Apple">
      </div>
      <div class="shop-details">
          <div class="shop-header">
             <h3><span><a href="{% url 'market' %}">Home</a></span> / Apple</h3>
          </div>
          <div class="shop-price">
              <h3>Shovel</h3>
              <p>Rs 1200.00</p>
              <p>Shovel available. 1200 Rs per item.</p>
              <p>Availability: Yes</p>
          </div>
          <div class="shop-actions">
              <div class="quantity">
                  <div class="btn-element"> 
                    <button>-</button>
                    <p>1</p>
                    <button>+</button>
                  </div>
              </div>
              <div>
                <button class="add-to-cart">ADD TO CART</button>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
