{% extends "base/homebase.html" %}

{% block title %}AIMS | SHOP{% endblock %}
{% block content_css %}<link rel="stylesheet" href="static/css/market.css" type="text/css" >{% endblock %}

{% block content %}
<section>
    {% comment %} first item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/shovel.png" alt="Apple">
                <div class="identifier">
                    <p>Equipment</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Shovel</h3>
                    </div>
                    <div class="details-price">
                        <p>Rs 1200.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} second item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/gloves.png" alt="Apple">
                <div class="identifier">
                    <p>Equipment</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Gloves Gardening</h3>
                    </div>
                    <div class="details-price">
                        <p>Rs 1200.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} third item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/gloves-yellow.png" alt="Apple">
                <div class="identifier">
                    <p>Equipment</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Gloves</h3>
                    </div>
                    <div class="details-price">
                        <p>Rs 1200.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} fourth item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/fertilizer.png" alt="Apple">
                <div class="identifier">
                    <p>Fertilizer</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Organic fertilizer</h3>
                    </div>
                    <div class="details-price">
                        <p>Rs 1200.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} fifth item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/composite.png" alt="Apple">
                <div class="identifier">
                    <p>Fertilizer</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>cOMPOSITE fERTILIZER</h3>
                    </div>
                    <div class="details-price">
                        <p>Rs 1200.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} sixth item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/tractor.png" alt="Apple">
                <div class="identifier">
                    <p>Equipment</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Tractor</h3>
                    </div>
                    <div class="details-price">
                        <p>Rs 20000.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
   
    {% comment %} first item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/combo.png" alt="Apple">
                <div class="identifier">
                    <p>Equipment</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Shovel - Combo</h3>
                    </div>
                    <div class="details-price">
                        <p>Rs 5000.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} second item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/axe.png" alt="Apple">
                <div class="identifier">
                    <p>Equipment</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Axe</h3>
                    </div>
                    <div class="details-price">
                        <p>Rs 1000.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} third item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/pick.png" alt="Apple">
                <div class="identifier">
                    <p>Equipment</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Pikaxe</h3>
                    </div>
                    <div class="details-price">
                        <p>Rs 1700.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
   {% comment %} first item {% endcomment %}
   <div class="containers">
    <div class="inner-containers">
        <div class="image">
            <img src="static/assets/images/shovel.png" alt="Apple">
            <div class="identifier">
                <p>Equipment</p>
            </div>
        </div>
        <div class="details">
            <div class="left-details">
                <div class="details-title">
                    <h3>Shovel</h3>
                </div>
                <div class="details-price">
                    <p>Rs 1200.00</p>
                </div>
            </div>
            <div class="right-details">
                <a href="">
                    <button class="btn">View Details</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% comment %} second item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/gloves.png" alt="Apple">
                <div class="identifier">
                    <p>Equipment</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Gloves Gardening</h3>
                    </div>
                    <div class="details-price">
                        <p>Rs 1200.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} third item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/gloves-yellow.png" alt="Apple">
                <div class="identifier">
                    <p>Equipment</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Gloves</h3>
                    </div>
                    <div class="details-price">
                        <p>Rs 1200.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} fourth item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/fertilizer.png" alt="Apple">
                <div class="identifier">
                    <p>Fertilizer</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Organic fertilizer</h3>
                    </div>
                    <div class="details-price">
                        <p>Rs 1200.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} fifth item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/composite.png" alt="Apple">
                <div class="identifier">
                    <p>Fertilizer</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>cOMPOSITE fERTILIZER</h3>
                    </div>
                    <div class="details-price">
                        <p>Rs 1200.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} third item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/pick.png" alt="Apple">
                <div class="identifier">
                    <p>Equipment</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Pikaxe</h3>
                    </div>
                    <div class="details-price">
                        <p>Rs 1700.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}
