<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>forget-password</title>
    <link rel="stylesheet" href="../static/css/forget-password.css">
</head>
<body>
    

        <div class="main">
            <div class="sub-main">
                <h4>Forgot Your Password?</h4>
                <p id="text1">Enter your email below to receive your password reset instruction</p>
                <div class="input-button">
                    <input type="email" id="email" name="email" placeholder="Registered Email ID">
                </div>

                <div class="input-button">
                    <button type="submit">Send</button>
                </div>
                
            </div>
        </div>


</body>
</html>