{% extends "homebase.html" %}

{% block title %}Home{% endblock %}
{% block content_css %}<link rel="stylesheet" href="static/css/style.css" type="text/css" >{% endblock %}

{% block content %}
<div class="content">
    <div class="first-content">
        <div class="content-img">
            <img src="static/assets/images/field.jpeg" alt="content image"/>  {% comment %} linked image {% endcomment %}
        </div>
        <div class="content-text">
            <div class="content-first-item">
                <img src="static/assets/images/leaf.png" alt="leaf-content"/>
                <p>Best Quality Products</p>
            </div>
            <div class="content-join-movement">
                <p class="join-text">Join the organic <p class="join-text">movement!</p></p>
                <p class="site-info">The agriculture management system is to help farmers by providing all kinds of agriculture-related information on the website.</p>
            </div>
            <div class="first-content-buttons">
                <button class="icon-button">
                    <span class="material-symbols-outlined button__icon button__icon_black">shopping_cart</span> {% comment %} icons used{% endcomment %}
                    <span class="button__text">Shop Now</span>
                </button>
                <button class="icon-button">
                    <span class="material-symbols-outlined button__icon button__icon_black">person</span>
                    <span class="button__text">Farmer Sell</span>
                </button>
            </div>
        </div>
    </div>

    <div class="mission-container">
        <div class="mission-item">
            <div class="target-icon">
                <span class="material-symbols-outlined">mode_standby</span>
            </div>
            <div class="mission-text">
                <h5>Our Aim</h5>
                <p>To provide decent jobs for youth and women in agricultural value chains in Nepal.</p>
            </div>
        </div>
        <div class="mission-item">
            <div class="target-icon">
                <span class="material-symbols-outlined">mode_standby</span>
            </div>
            <div class="mission-text">
                <h5>Overall Objective</h5>
                <p>Inclusive and sustainable growth is promoted in rural economy, in alignment with the priorities of the Government of Nepal.</p>
            </div>
        </div>
        <div class="mission-item">
            <div class="target-icon">
                <span class="material-symbols-outlined">mode_standby</span>
            </div>
            <div class="mission-text">
                <h5>Specific Objective</h5>
                <p>Sustainable job opportunities for youth and women are created in agricultural value chains.</p>
            </div>
        </div>
    </div>

    <div class="cards-container">
        <div class="card-item">
            <div class="card-text">
                <h4>Farm Fresh Fruits</h4>
                <p>We have fresh fruits for you to take care of you and your family.</p>
            </div>
            <div class="card-button">
                <button class="icon-button">
                    <span class="button__text button__text_right-icon">Shop Now</span>
                    <span class="material-symbols-outlined button__icon button__icon_white">arrow_forward</span>
                </button>
            </div>
            <div class="card-image">
                <img src="static/assets/images/lemon.jpg" alt="fruits"/>
            </div>
        </div>
        <div class="card-item">
            <div class="card-text">
                <h4>Fresh Vegetables</h4>
                <p>Farmers are selling fresh vegetables here. Without any doubt you can buy!</p>
            </div>
            <div class="card-button">
                <button class="icon-button">
                    <span class="button__text button__text_right-icon">Shop Now</span>
                    <span class="material-symbols-outlined button__icon button__icon_white">arrow_forward</span>
                </button>
            </div>
            <div class="card-image">
                <img src="static/assets/images/Cauli.jpg" alt="cauliflower"/>
            </div>
        </div>
        <div class="card-item">
            <div class="card-text">
                <h4>Organic Legume</h4>
                <p>We have dried fruits and nuts. First try then send a thank you message to us.</p>
            </div>
            <div class="card-button">
                <button class="icon-button">
                    <span class="button__text button__text_right-icon">Shop Now</span>
                    <span class="material-symbols-outlined button__icon button__icon_white">arrow_forward</span>
                </button>
            </div>
            <div class="card-image">
                <img src="static/assets/images/daal.jpg" alt="legumes"/>
            </div>
        </div>
    </div>

    <div class="farmer-sell-container">
        <div class="farmer-sell-orig">
            <h4>You are a farmer and want to sell online?</h4>
            <button class="icon-button">
                <span class="material-symbols-outlined button__icon button__icon_black">person</span>
                <span class="button__text">Farmer Sell</span>
            </button>
        </div>
        <div class="with-tri">
            <div class="arrow-down"></div>
        </div>
    </div>

    <div class="register-now-container">
        <h4>Register here Free Now.</h4>
    </div>

    <div class="container">
        <div class="container-item">
            <div class="img-div">
                <img src="static/assets/images/grapes.jpg" alt="">
            </div>
            <div class="text-div">
                <h4>Customer</h4>
                <p>Are you willing to purchase products from <br>Farmers?</p>
            </div>
            <div class="button-div">
                <button class="icon-button">
                    <span class="button__text">Click Here</span>
                </button>
            </div>
        </div>

        <div class="container-item">
            <div class="img-div">
                <img src="static/assets/images/farmer.jpg" alt="">
            </div>
            <div class="text-div">
                <h4>Farmer</h4>
                <p> Online Market where you can Sell
                    fruits &<br> vegetables, agri produce, etc…</p>
            </div>
            <div class="button-div">
                <button class="icon-button">
                    <span class="button__text">Click Here</span>
                </button>
            </div>
        </div>

        <div class="container-item">
            <div class="img-div">
                <img src="static/assets/images/contact_us.jpg" alt="">
            </div>
            <div class="text-div">
                <h4>Contact Us</h4>
                <p>We are here to support you. Feel free<br>
                    to contact us.</p>
            </div>
            <div class="button-div">
                <button class="icon-button">
                    <span class="button__text">Click Here</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
