<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/kyc.css">
    <title>KYC Form</title>
</head>
<body>
    <div class="container">
        <form id="kyc_form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="step step-1 active">
                <div class="header">
                    <div class="form-name"><span>KYC Form</span></div>
                    <div class="page-counter">Page 1 of 4</div>
                </div>
                <div class="title">
                    <div class="form-section"><span>A. Identity Details</span></div>
                </div>
                <div class="form-container">
                    <div class="form-body">
                        <div class="form-row-main with-title">
                            <div class="section-title"><span>Name of the Applicant</span></div>
                            <div class="form-row">
                                <div class="form-field">
                                    <label for="first_name">First Name</label>
                                    <input type="text" name="first_name" required />
                                </div>
                                <div class="form-field">
                                    <label for="middle_name">Middle Name</label>
                                    <input type="text" name="MiddleName" />
                                </div>
                                <div class="form-field">
                                    <label for="last_name">Last Name</label>
                                    <input type="text" name="Last_name" required />
                                </div>
                            </div>
                        </div>
                        <div class="form-row-main">
                            <div class="form-row">
                                <div class="form-field">
                                    <label class="label">Gender</label>
                                    <div class="radio-options">
                                        <div class="option-radio">
                                            <label for="male">Male</label>
                                            <input type="radio" name="Gender" id="male" value="male" required />
                                        </div>
                                        <div class="option-radio">
                                            <label for="female">Female</label>
                                            <input type="radio" name="Gender" id="female" value="female" />
                                        </div>
                                        <div class="option-radio">
                                            <label for="others">Others</label>
                                            <input type="radio" name="Gender" id="others" value="others" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <label class="label">Marital Status</label>
                                    <div class="radio-options">
                                        <div class="option-radio">
                                            <label for="single">Single</label>
                                            <input type="radio" name="MaritualStatus" id="single" value="single" required />
                                        </div>
                                        <div class="option-radio">
                                            <label for="married">Married</label>
                                            <input type="radio" name="MaritualStatus" id="married" value="married" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <label class="label" for="dob">Date of Birth</label>
                                    <input type="date" name="Dob" required />
                                </div>
                            </div>
                        </div>
                        <div class="form-row-main">
                            <div class="form-row">
                                <div class="form-field">
                                    <label class="label" for="nationality">Nationality</label>
                                    <input type="text" name="Nationality"  required />
                                </div>
                                <div class="form-field">
                                    <label class="label" for="citizenship">Citizenship No.</label>
                                    <input type="text" name="Citizenship" required />
                                </div>
                                <div class="form-field">
                                    <label class="label" for="passport">Passport No.</label>
                                    <input type="text" name="Passport" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row-main">
                            <div class="form-row">
                                <div class="form-field">
                                    <label class="label">Residential Status</label>
                                    <div class="radio-options">
                                        <div class="option-radio">
                                            <label for="resident">Resident Individual</label>
                                            <input type="radio" name="Residential" id="resident" value="resident" required />
                                        </div>
                                        <div class="option-radio">
                                            <label for="non-resident">Non Resident</label>
                                            <input type="radio" name="Residential" id="non-resident" value="non-resident" />
                                        </div>
                                        <div class="option-radio">
                                            <label for="foreign">Foreign National</label>
                                            <input type="radio" name="Residential" id="foreign" value="foreign" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-prev-btn single">
                        <button type="button" class="next-btn">Next</button>
                    </div>
                </div>
            </div>

            <div class="step step-2 ">
                <div class="header">
                    <div class="form-name"><span>KYC Form</span></div>
                    <div class="page-counter">Page 2 of 4</div>
                </div>

                <div class="title">
                    <div class="form-section"><span>B. Family Information</span></div>
                </div>
                <div class="form-container">
                    <div class="form-body">
                        <div class="form-row-main">
                            <div class="form-row reverse">
                                <div class="form-field row">
                                    <label class="label" for="father">Father's Name</label>
                                    <input type="text" name="FatherName" />
                                </div>
                                <div class="form-field row">
                                    <label class="label" for="mother">Mother's Name</label>
                                    <input type="text" name="MotherName"  required />
                                </div>
                                <div class="form-field row">
                                    <label class="label" for="grandfather">Grandfather's Name</label>
                                    <input type="text" name="GrandfatherName" required />
                                </div>
                                <div class="form-field row">
                                    <label class="label" for="grandmother">Grandmother's Name</label>
                                    <input type="text" name="GrandMotherName" required />
                                </div>
                                <div class="form-field row">
                                    <label class="label" for="spouse">Spouse's Name</label>
                                    <input type="text" name="SpouseName" />
                                </div>
                                <div class="form-field row">
                                    <label class="label" for="son">Sons's Name</label>
                                    <input type="text" name="SonName" />
                                </div>
                                <div class="form-field row">
                                    <label class="label" for="daughter">Daughter's Name</label>
                                    <input type="text" name="DaughterName" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-prev-btn">
                        <button type="button" class="prev-btn">Back</button>
                        <button type="button" class="next-btn">Next</button>
                    </div>
                </div>
            </div>

            <div class="step step-3">
                <div class="header">
                    <div class="form-name"><span>KYC Form</span></div>
                    <div class="page-counter">Page 3 of 4</div>
                </div>

                <div class="title">
                    <div class="form-section"><span>C. Address Details</span></div>
                </div>
                <div class="form-container">
                    <div class="form-body">
                        <div class="form-row-main">
                            <div class="form-row reverse">
                                <div class="form-field row">
                                    <label class="label" for="country">Country</label>
                                    <input type="text" name="Country" required />
                                </div>
                                <div class="form-field row">
                                    <label class="label" for="province">Province</label>
                                    <input type="text" name="Province" required />
                                </div>
                                <div class="form-field row">
                                    <label class="label" for="district">District</label>
                                    <input type="text" name="District" required />
                                </div>
                                <div class="form-field row">
                                    <label class="label" for="municipality">Rural Municipality/ Municipality</label>
                                    <input type="text" name="Municipality" required />
                                </div>
                                <div class="form-field row">
                                    <label class="label" for="ward_no">Ward No.</label>
                                    <input type="text" name="WardNo" required />
                                </div> 
                                <div class="form-field row">
                                    <label class="label" for="street">Street/Village</label>
                                    <input type="text" name="Street" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-prev-btn">
                        <button type="button" class="prev-btn">Back</button>
                        <button type="button" class="next-btn">Next</button>
                    </div>
                </div>
            </div>

            <div class="step step-4">
                <div class="header">
                    <div class="form-name"><span>KYC Form</span></div>
                    <div class="page-counter">Page 4 of 4</div>
                </div>

                <div class="title">
                    <div class="form-section"><span>D. Photo</span></div>
                </div>
                <div class="form-container">
                    <div class="form-body">
                        <div class="form-row-main">
                            <div class="form-row reverse">
                                <div class="form-field">
                                    <label class="label" for="pp_photo">Passport Size Photo</label>
                                    <input type="file" name="PassportPhoto" required />
                                </div>
                                <div class="form-field">
                                    <div class="option-radio">
                                        <label for="citizenship_doc">Citizenship</label>
                                        <input type="radio" name="CitizenProof" id="citizenship_doc" value="citizenship" required />
                                    </div>
                                    <div class="option-radio">
                                        <label for="passport_doc">Passport</label>
                                        <input type="radio" name="CitizenProof" id="passport_doc" value="passport" />
                                    </div>
                                </div>
                                <div class="form-field">
                                    <label class="label" for="doc_front">Front of the Document</label>
                                    <input type="file" name="FrontPic" required />
                                </div>
                                <div class="form-field">
                                    <label class="label" for="doc_back">Back of the Document</label>
                                    <input type="file" name="BackPic" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-prev-btn">
                        <button type="button" class="prev-btn">Back</button>
                        <button type="button" class="next-btn finish-btn">Finish</button>
                    </div>
                </div>
            </div>

            <div class="step step-5 confirm-details">
                <div class="header">
                    <div class="form-name"><span>KYC Form</span></div>
                </div>
                <div class="title">
                    <div class="form-section"><span>Personal Information</span></div>
                </div>
                <div class="form-container confirm-details-form-container">
                    <div class="form-body">
                        <div class="profile-pic">
                            <img id="pp_photo" src="https://via.placeholder.com/150" alt="Profile Picture" />
                        </div>
                        <div class="form-row-main render">
                            <div class="form-row render-only">
                                <div class="form-field render-data">
                                    <h3 class="label">Name</h3>
                                    <p><span class="field-value" id="name-preview"></span></p>
                                </div>
                                <div class="form-field render-data">
                                    <h3 class="label">Date of Birth</h3>
                                    <p><span class="field-value" id="Dob-preview"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-main render">
                            <div class="form-row render-only">
                                <div class="form-field render-data">
                                    <h3 class="label">Gender</h3>
                                    <p><span class="field-value" id="Gender-preview"></span></p>
                                </div>
                                <div class="form-field render-data">
                                    <h3 class="label">Marital Status</h3>
                                    <p><span class="field-value" id="MaritualStatus-preview"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-main render">
                            <div class="form-row render-only">
                                <div class="form-field render-data">
                                    <h3 class="label">Nationality</h3>
                                    <p><span class="field-value" id="Nationality-preview"></span></p>
                                </div>
                                <div class="form-field render-data">
                                    <h3 class="label">Residential Status</h3>
                                    <p><span class="field-value" id="Residential-preview"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-main render">
                            <div class="form-row render-only">
                                <div class="form-field render-data">
                                    <h3 class="label">Citizenship No.</h3>
                                    <p><span class="field-value" id="Citizenship-preview"></span></p>
                                </div>
                                <div class="form-field render-data">
                                    <h3 class="label">Passport No.</h3>
                                    <p><span class="field-value" id="Passport-preview"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-main render">
                            <div class="form-row render-only">
                                <div class="form-field render-data">
                                    <h3 class="label">Father's Name</h3>
                                    <p><span class="field-value" id="FatherName-preview"></span></p>
                                </div>
                                <div class="form-field render-data">
                                    <h3 class="label">Mother's Name</h3>
                                    <p><span class="field-value" id="MotherName-preview"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-main render">
                            <div class="form-row render-only">
                                <div class="form-field render-data">
                                    <h3 class="label">Grandfather's Name</h3>
                                    <p><span class="field-value" id="GrandfatherName-preview"></span></p>
                                </div>
                                <div class="form-field render-data">
                                    <h3 class="label">Grandmother's Name</h3>
                                    <p><span class="field-value" id="GrandMotherName-preview"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-main render">
                            <div class="form-row render-only">
                                <div class="form-field render-data">
                                    <h3 class="label">Spouse's Name</h3>
                                    <p><span class="field-value" id="SpouseName-preview"></span></p>
                                </div>
                                <div class="form-field render-data">
                                    <h3 class="label">Son's Name</h3>
                                    <p><span class="field-value" id="SonName-preview"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-main render">
                            <div class="form-row render-only">
                                <div class="form-field render-data">
                                    <h3 class="label">Daughter's Name</h3>
                                    <p><span class="field-value" id="DaughterName-preview"></span></p>
                                </div>
                                <div class="form-field render-data">
                                    <h3 class="label">Country</h3>
                                    <p><span class="field-value" id="Country-preview"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-main render">
                            <div class="form-row render-only">
                                <div class="form-field render-data">
                                    <h3 class="label">Province</h3>
                                    <p><span class="field-value" id="Province-preview"></span></p>
                                </div>
                                <div class="form-field render-data">
                                    <h3 class="label">District</h3>
                                    <p><span class="field-value" id="District-preview"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-main render">
                            <div class="form-row render-only">
                                <div class="form-field render-data">
                                    <h3 class="label">Rural Municipality/Municipality</h3>
                                    <p><span class="field-value" id="Municipality-preview"></span></p>
                                </div>
                                <div class="form-field render-data">
                                    <h3 class="label">Ward No.</h3>
                                    <p><span class="field-value" id="WardNo-preview"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-main render">
                            <div class="form-row render-only">
                                <div class="form-field render-data">
                                    <h3 class="label">Street/Village</h3>
                                    <p><span class="field-value" id="Street-preview"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-prev-btn">
                        <button type="button" class="prev-btn">Back</button>
                        <a href="{% url '' %}"><button type="submit" class="next-btn">Confirm Details</button></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="static/js/kyc.js" type="text/javascript"></script>
</body>
</html>