<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>AIMS</title>
      <link rel="stylesheet" href="static/css/login.css">
   </head>
   <body>
      <header>
         <div class="header-div">
             <div class="logo-container">
                 <img src="static/assets/images/logo.png" alt="logo"/>
             </div>
             <div class="nav-items-container">
                 <nav>
                     <ul class="nav-ul">
                         <li>Home</li>
                         <li>Blogs</li>
                         <li>Farmers Kit</li>
                         <li>Market</li>
                         <li>Hire</li>
                         <li>Account</li>-
                     </ul>
                 </nav>
             </div>
             <div class="cart-search-container">
                 <img src="static/assets/images/search.png" alt="search-button"/>
                 <img src="static/assets/images/shopping-bag.png" alt="cart-button"/>
             </div>
         </div>
     </header>

      <div class="wrapper">
         <div class="title">
            LOG IN HERE
         </div>
         <form action="#" method="POST">
            {% csrf_token %}
            <DIV id="text1">Username or email address </DIV>
            <div class="field" id="">
               <input type="text" required name='username'> 
               <label>Email Address</label>
            </div>

            <DIV id="text2">Password *</DIV>

            <div class="field" id="password">
               {{form.password}}
               <label>Password</label>
            </div>
            <div class="content">
               <div class="checkbox">
                  <input type="checkbox" id="remember-me">
                  <label for="remember-me">Remember me</label>
               </div>
               <div class="pass-link">
                  <a href="forgot" id="forget_password">Forgot Password?</a>
               </div>
            </div>   
            {{fomr.error}}       
            <div class="field">
               <input type="submit" value="Login">
            </div>
            <div class="signup-link">
               Don't Have an Account? <br> <a href="registrationpage" id="sign_up">SIGN UP NOW</a>
            </div>
         </form>
      </div>


      <!-- footer begins -->

      <footer class="footer">
         <div class="footer-col">
             <h4>AIMS</h4>
             <div>
                 <p>Kathmandu, Nepal</p>
                 <p>Phone:+977 9819057663</p>
                 <p>Email:info@aims.com</p>
             </div>
         </div>

         <div class="footer-col">
             <h4>USEFUL LINKS</h4>
             <div>
                 <p> >  Blog</p>
                 <p> >  News</p>
                 <p> >  Farmers Kit</p>
                 <p> >  Farmers Market</p>
             </div>
         </div>

         <div class="footer-col">
             <h4>OUR SERVICES</h4>
             <div>
                 <p> > Home</p>
                 <p> > About</p>
                 <p> > Hire Cntact</p>
                 
             </div>
            
         </div>
     </footer>
   </body>
</html>