{% extends "base/homebase.html" %}

{% block title %}AIMS | SHOP{% endblock %}
{% block content_css %}<link rel="stylesheet" href="static/css/market.css" type="text/css" >{% endblock %}

{% block content %}
<section>
    {% comment %} first item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/Apple.png" alt="Apple">
                <div class="identifier">
                    <p>Fruits</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Apple</h3>
                    </div>
                    <div class="details-price">
                        <p>1 KG Rs 120.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="{% url 'product' %}">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} second item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/Zucchini.png" alt="Apple">
                <div class="identifier">
                    <p>Vegetable</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>ZUCCHINI GREEN </h3>
                    </div>
                    <div class="details-price">
                        <p>1 KG Rs 120.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="{% url 'product' %}">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} third item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/cabbage.png" alt="Apple">
                <div class="identifier">
                    <p>Vegetable</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Cabbage</h3>
                    </div>
                    <div class="details-price">
                        <p>1 KG Rs 120.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="{% url 'product' %}">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} fourth item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/tomato-box.png" alt="Apple">
                <div class="identifier">
                    <p>Vegetable</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Tomatoes</h3>
                    </div>
                    <div class="details-price">
                        <p>1 KG Rs 120.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="{% url 'product' %}">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} fifth item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/garlic-green.png" alt="Apple">
                <div class="identifier">
                    <p>Vegetable</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Green Garlic</h3>
                    </div>
                    <div class="details-price">
                        <p>1 KG Rs 120.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="{% url 'product' %}">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} sixth item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/blueberries.png" alt="Apple">
                <div class="identifier">
                    <p>Fruits</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Blueberries</h3>
                    </div>
                    <div class="details-price">
                        <p>1 KG Rs 120.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="{% url 'product' %}">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} first item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/Apple.png" alt="Apple">
                <div class="identifier">
                    <p>Fruits</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Apple</h3>
                    </div>
                    <div class="details-price">
                        <p>1 KG Rs 120.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="{% url 'product' %}">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} second item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/Zucchini.png" alt="Apple">
                <div class="identifier">
                    <p>Vegetable</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>ZUCCHINI GREEN </h3>
                    </div>
                    <div class="details-price">
                        <p>1 KG Rs 120.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="{% url 'product' %}">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} third item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/cabbage.png" alt="Apple">
                <div class="identifier">
                    <p>Vegetable</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Cabbage</h3>
                    </div>
                    <div class="details-price">
                        <p>1 KG Rs 120.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="{% url 'product' %}">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} fourth item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/tomato-box.png" alt="Apple">
                <div class="identifier">
                    <p>Vegetable</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Tomatoes</h3>
                    </div>
                    <div class="details-price">
                        <p>1 KG Rs 120.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="{% url 'product' %}">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} fifth item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/garlic-green.png" alt="Apple">
                <div class="identifier">
                    <p>Vegetable</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Green Garlic</h3>
                    </div>
                    <div class="details-price">
                        <p>1 KG Rs 120.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="{% url 'product' %}">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} sixth item {% endcomment %}
    <div class="containers">
        <div class="inner-containers">
            <div class="image">
                <img src="static/assets/images/blueberries.png" alt="Apple">
                <div class="identifier">
                    <p>Fruits</p>
                </div>
            </div>
            <div class="details">
                <div class="left-details">
                    <div class="details-title">
                        <h3>Blueberries</h3>
                    </div>
                    <div class="details-price">
                        <p>1 KG Rs 120.00</p>
                    </div>
                </div>
                <div class="right-details">
                    <a href="{% url 'product' %}">
                        <button class="btn">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}
