<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@200" rel="stylesheet" />
    </head>

<div class="sidebar">
  <ul>
    <li><a href="#">Order History</a></li>
    <li><a href="#">Account Details</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</div>


        <div class="order-details">
            <p>Order <strong>#101</strong>was placed on <strong>May 19, 2023</strong> and is currently <strong>completed</strong>.</p>
            <h2>Order Details</h2>
            <table>
              <tr>
                <th>Product</th>
                <th>Total</th>
              </tr>
              <tr>
                <td>Apple</td>
                <td>Rs 400.00</td>
              </tr>
            </div>
              <tr>
                <td>Subtotal:</td>
                <td>Rs 400.00</td>
              </tr>
              <tr>
                <td>Shipping:</td>
                <td>Free shipping</td>
              </tr>
              <tr>
                <td>Payment method:</td>
                <td>Cash on delivery</td>
              </tr>
              <tr>
                <td>Total:</td>
                <td>Rs 400.00</td>
              </tr>
            </table>
            <div class="order">
            <button class="order-again">
              Order Again
              <img src="assets/images/order.png" alt="logo">
            </button>
          </div>
        </div>
          


        </div>

       