{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@200" rel="stylesheet" />
    </head>
    <body>
   

        <!-- <section class="shop-section">
            <div class="product">
                <h2>Shop</h2>
                <p class="results">Showing all results</p> -->

                
                    
                <div class="shop-section">
                    <div class="productheader">
                        <h2>Shop</h2>
                        <p class="results">Showing all results</p>
                    </div>
                    <div class="shop-image">
                      <img src="/static/assets/images/apple.png" alt="Apple">
                    </div>
                    <div class="shop-details">
                      <div class="shop-header">
                        <a href="#">
                            <span class="underline">Home</span> / Apple
                          </a>
                      </div>
                      <div class="shop-price">
                        <h3>Apple</h3>
                        <p>Rs 120.00</p>
                        <p>fresh apple available. 120 rs per kilo.</p>
                        <p>Availability: Yes</p>
                      </div>
                      <div class="shop-actions">
                        <div class="quantity">
                          <button>-</button>
                          <input type="text" value="1">
                          <button>+</button>
                        </div>
                        <button class="add-to-cart">ADD TO CART</button>
                      </div>
                    </div>
                  </div>
                </div>
