{% extends "base/homebase.html" %}

{% load static %}

{% block title %}AIMS | SHOP DETAILS{% endblock %}

{% block content_css %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="shop-section">
  <div class="productheader">
      <div class="left-title">
          <h2>Shop</h2>
      </div>
      <div class="right-title">
          <p class="results">Showing all results</p>
      </div>
  </div>
  <div class="lower-content">
      <div class="shop-image">
          <img src="{{ item.Photo.url }}" alt="Item in Shop">
      </div>
      <div class="shop-details">
          <div class="shop-header">
             <h3><span><a onclick="goBack()">Home</a></span>{{ item.Type }} </h3>
            <script>
            function goBack() {
                window.history.back();
            }
            </script>
          </div>
          <div class="shop-price">
              <h3>{{ item.ItemName }}</h3>
              <p>{{ item.ItemName }}{{ item.ItemName }}</p>
              <p>Fresh Apple Available. 120 Rs per Kilo</p>
              <p>Availability: Yes</p>
          </div>
          <div class="shop-actions">
              <div class="quantity">
                  <div class="btn-element"> 
                    <button>-</button>
                    <p>1</p>
                    <button>+</button>
                  </div>
              </div>
              <div>
                <button class="add-to-cart">ADD TO CART</button>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
