{% extends "homebase.html" %}

{% block title %}Registration{% endblock %}
{% block content_css %}<link rel="stylesheet" href="static/css/registration.css" type="text/css" >{% endblock %}

{% block content %}
<div class="registration">
    <div class="registration-box">
        <div class="registration-text">
            <span>User Registration<span>
        </div>
        <form method="POST">
            {% csrf_token %} {% comment %} To ensure the security of the form {% endcomment %}
            <div class="form-group">
                <label for="username" class="required">{{form.username.label}}</label>
                {{form.username}}
                <div class="error">{{form.username.errors}}</div>
            </div>
            <div class="form-group">
                <label for="first_name" class="required">{{form.first_name.label}}</label>
                {{form.first_name}}
                <div class="error">{{form.first_name.errors}}</div>
            </div>
            <div class="form-group">
                <label for="last_name" class="required">{{form.last_name.label}}</label>
                {{form.last_name}}
                <div class="error">{{form.last_name.errors}}</div>
            </div>
            <div class="form-group">
                <label for="email" class="required">{{form.email.label}}</label>
                {{form.email}}
                <div class="error">{{form.email.errors}}</div>
            </div>
            <div class="form-group">
                <label for="address" class="required">{{form.address.label}}</label>
                {{form.address}}
                <div class="error">{{form.address.errors}}</div>
            </div>
            <div class="form-group">
                <label for="contact">{{form.contact.label}}</label>
                {{form.contact}}
                <div class="error">{{form.contact.errors}}</div>
            </div>
            <div class="form-group gender">
                <label for="gender" class="required">{{form.gender.label}}</label>
                {{form.gender}}
                <div class="error">{{form.gender.errors}}</div>
            </div>
            <div class="form-group">
                <label for="password1" class="required">{{form.password1.label}}</label>
                {{form.password1}}
                <div class="error">{{form.password1.errors}}</div>
            </div>
            <div class="form-group">
                <label for="password2"  class="required">{{form.password2.label}}</label>
                {{form.password2}}
                <div class="error">{{form.password2.errors}}</div>
            </div>
            <div class="form-group">
                <div class="field">
                    <input type="submit" value="Register" href="loginpage">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
