{% extends "base/homebase.html" %}

{% block title %}Registration{% endblock %}
{% block content_css %}<link rel="stylesheet" href="/static/css/registration.css" type="text/css" >{% endblock %}

{% block content %}
<div class="content">
    <div class="registration-form">
        <div class="form-title">
            <h3>User Registration</h3>
        </div>
        <form method="post" action="{% url 'registrationpage' %}">
            {% csrf_token %}
            <div class="form-field required">
                <label for="username">Username</label>
                {{ form.username }}
                <div class="error">{{form.username.errors}}</div>
            </div>
            <div class="form-field required">
                <label for="first_name">First Name</label>
                {{ form.first_name }}
                <div class="error">{{form.first_name.errors}}</div>
            </div>
            <div class="form-field required">
                <label for="last_name">Last Name</label>
                {{ form.last_name }}
                <div class="error">{{form.last_name.errors}}</div>
            </div>
            <div class="form-field required">
                <label for="email">Email</label>
                {{ form.email }}
                <div class="error">{{form.email.errors}}</div>
            </div>
            <div class="form-field required">
                <label for="dob">Date of Birth</label>
                {{ form.dob }}
                <div class="error">{{form.dob.errors}}</div>
            </div>
            <div class="form-field required">
                <label for="address">Address</label>
                {{ form.address }}
                <div class="error">{{form.address.errors}}</div>
            </div>
            <div class="form-field required">
                <label for="contact">Contact Number</label>
                {{ form.contact }}
                <div class="error">{{form.contact.errors}}</div>
            </div>
            <div class="form-field required">
                <label class="label">Gender</label>
                    {% for radio in form.gender %}
                      <div class="radio">
                        <label>
                          {{ radio.tag }}
                          {{ radio.choice_label }}
                        </label>
                    {% endfor %}
                <div class="error">{{form.gender.errors}}</div>
            </div>
            <div class="form-field required">
                <label for="password1">Create Password</label>
                {{ form.password1 }}
                <div class="error">{{form.password1.errors}}</div>
            </div>
            <div class="form-field required">
                <label for="password2">Confirm Password</label>
                {{ form.password2 }}
                <div class="error">{{form.password2.errors}}</div>
            </div>
            <div class="form-field">
                <input type="submit" value="Register" />
            </div>
        </form>
        <div class="login-redirect">
            <div class="ques-title">
                <h4>Have an account?</h4>
            </div>
            <div class="redirect">
                <a href="{% url 'loginpage' %}">Login Here</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

