{% extends "homebase.html" %}

{% block title %}Home{% endblock %}
{% block content_css %}<link rel="stylesheet" href="static/css/style.css" type="text/css" >{% endblock %}

{% block content %}


<div class="image-top">
    <img src="static/assets/images/Tomato.png" alt="cover" class="cover">
</div>

<div class="intro">
    <h1>The mission & story
 behind Farm</h1>
 <p>
    Farm is a platform that connects farmers to consumers. We believe that
    everyone should have access to fresh, locally grown produce. We also
    believe that farmers should be able to sell their produce at a fair price.
    We are here to make that happen.
    </p>
</div>





{% endblock %}