{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/success.css' %}">

        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@200" rel="stylesheet" />
    </head>
    <body>

        <div class="article-box">
            <div class="tick-container">
                <span class="tick-mark">&#10003;</span>
              </div>
            <h2>SUCCESS!!!</h2>
            <p class="success-excerpt">Your setting have been Sucessfully Changed.</p>
            <a href="#" class="continue-btn">Continue</a>
          </div>
          </body>