{% extends "base/homebase.html" %}

{% block title %}AIMS | CHANGE PASSWORD{% endblock %}
{% block content_css %}<link rel="stylesheet" href="static/css/success.css" type="text/css" >{% endblock %}

{% block content %}
<div class="contact-container">

  <div class="contact-sidebar">
        <h4>Account Details</h4>
        <h4>Logout</h4>
     
  </div>

  <div class="success-box">
    <div class="article-box">
      <div class="tick-container">
          <span class="tick-mark">&#10003;</span>
        </div>
      <h2>SUCCESS!!!</h2>
      <p class="success-excerpt">Your setting have been Sucessfully Changed.</p>
      <a href="#" class="continue-btn">Okay</a>
    </div>
  </div>
</div>

{% endblock %}
