.contact-container {
  height: 590px;
}
.contact-sidebar {
  position: absolute;
  left: 59px;
  top: 100px;
  height: 590px;
  width: 316px;
  background-color: #266b50;
}
.contact-sidebar h4 {
  color: white;
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid white;
}

.contact-sidebar li {
  padding: 20px 0 20px 39px;
  list-style: none;
}
.contact-sidebar li span {
  color: white;
  font-size: 20px;
  vertical-align: top;
  margin: 5px 0 0 10px;
}
.success-box{
  position: absolute;
  top: 250px;
  left: 700px;
}
.article-box {
  border: 1px solid #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  width: 300;
  border-top-color: #43a54c;
  border-top-width: 3px;
}

.tick-container {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #43a54c;
  margin-bottom: 10px;
}

.tick {
  width: 20px;
  height: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.tick-mark {
  background-color: #43a54c;
  color: #ffffff;
}

h2 {
  color: #43a54c;
  font-size: 24px;
  margin-bottom: 10px;
}

.success-excerpt {
  font-size: 14px;
  color: #000000;
  margin-bottom: 15px;
}

.continue-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #43a54c;
  color: #ffffff;
  width: 150px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.continue-btn:hover {
  background-color: #2c7d3f;
}
