<footer class="footer">
    <div class="footer-link-items">
        <div class="footer-col">
            <div class="footer-col-title">
                <h4>AIMS</h4>
            </div>
            <div class="footer-col-content">
                <p>Kathmandu, Nepal</p>
                <p>Phone:+977 9819057663</p>
                <p>Email:info@aims.com</p>
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-col-title">
                <h4>Useful Links</h4>
            </div>
            <div class="footer-col-content">
                <a href="#">
                    <span class="footer-link">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        Blog
                    </span>
                </a>
                <a href="#">
                    <span class="footer-link">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        Shop
                    </span>
                </a>
                <a href="#">
                    <span class="footer-link">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        Farmers Market
                    </span>
                </a>
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-col-title">
                <h4>Useful Links</h4>
            </div>
            <div class="footer-col-content">
                <a href="#">
                    <span class="footer-link">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        Home
                    </span>
                </a>
                <a href="#">
                    <span class="footer-link">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        Contact Us
                    </span>
                </a>
                <a href="#">
                    <span class="footer-link">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        About Us
                    </span>
                </a>
                <a href="#">
                    <span class="footer-link">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        Login
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="copyright">
        Copyright &copy; 2023 | AIMS |
    </div>
</footer>
