<footer class="footer">
    <div class="footer-contact">
        <div class="footer-contact-col">
            <div class="contact-col-title">
                <span>
                    <svg width="14" height="15" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 10.139C6.33696 10.139 5.70107 9.87545 5.23223 9.4064C4.76339 8.93736 4.5 8.30119 4.5 7.63786C4.5 6.97452 4.76339 6.33836 5.23223 5.86931C5.70107 5.40026 6.33696 5.13675 7 5.13675C7.66304 5.13675 8.29893 5.40026 8.76777 5.86931C9.23661 6.33836 9.5 6.97452 9.5 7.63786C9.5 7.96631 9.43534 8.29154 9.3097 8.59499C9.18406 8.89843 8.99991 9.17415 8.76777 9.4064C8.53562 9.63865 8.26002 9.82288 7.95671 9.94857C7.65339 10.0743 7.3283 10.139 7 10.139ZM7 0.634766C5.14348 0.634766 3.36301 1.37259 2.05025 2.68592C0.737498 3.99926 0 5.78052 0 7.63786C0 12.8902 7 20.6436 7 20.6436C7 20.6436 14 12.8902 14 7.63786C14 5.78052 13.2625 3.99926 11.9497 2.68592C10.637 1.37259 8.85652 0.634766 7 0.634766Z" fill="#266B50"/>
                    </svg>
                </span>
                <h4>Location</h4>
            </div>
            <div class="contact-col-content">
                <p>52 SW. Mandikatar</p>
                <p>Kathmandu, Nepal 90022</p>
            </div>
        </div>
        <div class="v-line"></div>
        <div class="footer-contact-col">
            <div class="contact-col-title">
                <span>
                    <svg width="20" height="13" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 4.63653L10 9.63874L2 4.63653V2.63565L10 7.63786L18 2.63565M18 0.634766H2C0.89 0.634766 0 1.52516 0 2.63565V14.6409C0 15.1716 0.210714 15.6805 0.585786 16.0558C0.960859 16.431 1.46957 16.6418 2 16.6418H18C18.5304 16.6418 19.0391 16.431 19.4142 16.0558C19.7893 15.6805 20 15.1716 20 14.6409V2.63565C20 1.52516 19.1 0.634766 18 0.634766Z" fill="#266B50"/>
                    </svg>
                </span>
                <h4>Email Us</h4>
            </div>
            <div class="contact-col-content">
                <p>aims@gmail.com</p>
            </div>
        </div>
        <div class="v-line"></div>
        <div class="footer-contact-col">
            <div class="contact-col-title">
                <span>
                    <svg width="18" height="13" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.62 8.42821C5.06 11.2595 7.38 13.5805 10.21 15.0211L12.41 12.8201C12.69 12.54 13.08 12.46 13.43 12.57C14.55 12.9402 15.75 13.1403 17 13.1403C17.2652 13.1403 17.5196 13.2457 17.7071 13.4333C17.8946 13.6209 18 13.8754 18 14.1407V17.6423C18 17.9076 17.8946 18.1621 17.7071 18.3497C17.5196 18.5373 17.2652 18.6427 17 18.6427C12.4913 18.6427 8.1673 16.8509 4.97918 13.6613C1.79107 10.4718 0 6.14588 0 1.63521C0 1.36987 0.105357 1.11541 0.292893 0.927788C0.48043 0.740169 0.734784 0.634766 1 0.634766H4.5C4.76522 0.634766 5.01957 0.740169 5.20711 0.927788C5.39464 1.11541 5.5 1.36987 5.5 1.63521C5.5 2.88576 5.7 4.08629 6.07 5.20678C6.18 5.55694 6.1 5.94711 5.82 6.22723L3.62 8.42821Z" fill="#266B50"/>
                    </svg>
                </span>
                <h4>Phone</h4>
            </div>
            <div class="contact-col-content">
                <p>+977 9803665080</p>
                <p>+977 9818161959</p>
            </div>
        </div>
    </div>
    <div class="h-divider">
        <div class="h-line long"></div>
    </div>
    <div class="footer-link-items">
        <div class="footer-col">
            <div class="footer-col-title">
                <h4>AIMS</h4>
            </div>
            <div class="h-line half"></div>
            <div class="footer-col-content">
                <p>Kathmandu, Nepal</p>
                <p>Phone:+977 9819057663</p>
                <p>Email:info@aims.com</p>
                <span class="social">
                    <a href="#">
                        <img src="static/assets/images/facebook.png" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="static/assets/images/instagram.png" alt="instagram">
                    </a>
                    <a href="#">
                        <img src="static/assets/images/twitter.png" alt="twitter">
                    </a>
                </span>
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-col-title">
                <h4>Pages</h4>
            </div>
            <div class="h-line half"></div>
            <div class="footer-col-content">
                <a href="#">
                    <span class="footer-link">
                        Blog
                    </span>
                </a>
                <a href="#">
                    <span class="footer-link">
                        Shop
                    </span>
                </a>
                <a href="#">
                    <span class="footer-link">
                        Contact
                    </span>
                </a>
                <a href="#">
                    <span class="footer-link">
                        Home
                    </span>
                </a>
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-col-title">
                <h4>Join Our Mailing List</h4>
            </div>
            <div class="h-line"></div>
            <div class="footer-col-content">
                <p>Join our weekly newsletter to discover about the special process behind Farm’s products.</p>
            </div>
        </div>
    </div>
    <div class="footer-img">
        <img src="static/assets/images/footer-img.png" alt="">
    </div>
</footer>
