<footer class="footer">
    <div class="footer-col">
        <div class="footer-col-title">
            <h4>AIMS</h4>
        </div>
        <div class="footer-col-content">
            <p>Kathmandu, Nepal</p>
            <p>Phone:+977 9819057663</p>
            <p>Email:info@aims.com</p>
        </div>
    </div>
    <div class="footer-col">
        <div class="footer-col-title">
            <h4>USEFUL LINKS</h4>
        </div>
        <div class="footer-col-content">
            <a href="#"><span>> Blog</span></a>
            <a href="#"><span>> News</span></a>
            <a href="#"><span>> Farmers Kit</span></a>
            <a href="#"><span>> Farmers Market</span></a>
        </div>
    </div>
    <div class="footer-col">
        <div class="footer-col-title">
            <h4>OUR SERVICES</h4>
        </div>
        <div class="footer-col-content">
            <a href="#"><span>> Home</span></a>
            <a href="#"><span>> About</span></a>
            <a href="#"><span>> Hire Contact</span></a>
        </div>
    </div>
</footer>