<header>
    <div class="header-div">
    <div class ="header-div-content">
        <div class="logo-container">
            <a href="{% url '' %}">
                <img src="static/assets/images/logo.png" alt="logo"/>
            </a>
        </div>
        <div class="nav-items-container">
            <nav>
                <ul class="nav-ul">
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Equipment</a></li>
                    <li><a href="#">Market</a></li>
                    <li class="dropdown-item">
                        <a>Account
                            <span class="material-symbols-outlined expand-more">
                            expand_more
                            </span>
                        </a>
                        {% if user.is_farmer %}
                        <div class="dropdown-options">
                            <a href="{% url 'farmer_home' %}">Dashboard</a>
                            <div class="h-line-dropdown"></div>
                            <a href="{% url 'logout' %}">Logout</a>
                        </div>
                        {% elif user.is_customer %}
                        <div class="dropdown-options">
                            <a href="{% url 'farmer_home' %}">Profile</a>
                            <div class="h-line-dropdown"></div>
                            <a href="#">Verify KYC</a>
                            <a href="{% url 'logout' %}">Logout</a>
                        </div>
                        {% elif user.is_admin %}
                        <div class="dropdown-options">
                            <a href="{% url 'admin_home' %}">Dashboard</a>
                            <div class="h-line-dropdown"></div>
                            <a href="#">Logout</a>
                        {% else %}
                        <div class="dropdown-options">
                            <a href="{% url 'loginpage' %}">Login</a>
                            <div class="h-line-dropdown"></div>
                        </div>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
        <div class="cart-search-container">
            <img src="static/assets/images/shopping-bag.png" alt="cart-button"/>
        </div>
        </div>
    </div>
</header>