<header>
    <div class="header-div">
    <div class ="header-div-content">
        <div class="logo-container">
            <img src="static/assets/images/logo.png" alt="logo"/>
        </div>
        <div class="nav-items-container">
            <nav>
                <ul class="nav-ul">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li class="dropdown-item">
                        <a href="#">Farmers Kit
                            <span class="material-symbols-outlined expand-more">
                            expand_more
                            </span>
                        </a>
                        <div class="dropdown-options">
                            <a href="#">Option 1</a>
                            <a href="#">Option 2</a>
                            <a href="#">Option 3</a>
                        </div>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Market
                            <span class="material-symbols-outlined expand-more">
                            expand_more
                            </span>
                        </a>
                        <div class="dropdown-options">
                            <a href="#">Option 1</a>
                            <a href="#">Option 2</a>
                            <a href="#">Option 3</a>
                        </div>
                    </li>
                    <li><a href="#">Hire</a></li>
                    <li><a href="#">Account</a></li>
                </ul>
            </nav>
        </div>
        <div class="cart-search-container">
            <img src="static/assets/images/search.png" alt="search-button"/>
            <img src="static/assets/images/shopping-bag.png" alt="cart-button"/>
        </div>
        </div>
    </div>
</header>