<div class="sidebar">
    
    <div class="sidebar-item">
        <a href="{% url 'farmerHome'%}">
            <span class="material-symbols-outlined icon">house</span>
            <span class="text">Dashboard</span>
        </a>
    </div>
    <div class="sidebar-item">
        <a href="{% url 'crops'%}">
            <span class="material-symbols-outlined icon">psychiatry</span>
            <span class="text">Crops</span>
        </a>
    </div>
    <div class="sidebar-item">
        <a href="{% url 'equipment'%}">
            <span class="material-symbols-outlined icon">agriculture</span>
            <span class="text">Equipments</span>
        </a>
    </div>
    <div class="sidebar-item">
        <a href="#">
         <span class="material-symbols-outlined icon">store</span>
            <span class="text">Market</span>
        </a>
    </div>
    <div class="sidebar-item">
        <a href="#">
            <span class="material-symbols-outlined icon"> engineering</span>
            <span class="text">Worker</span>
        </a>
    </div>
    <div class="sidebar-item">
        <a href="#">
            <span class="material-symbols-outlined icon">feed</span>
            <span class="text">Article</span>
        </a>

    </div>
</div>